{% for project, queryset in runs.items %}
  <h4>{{project}}</h4>
  <table class="table">
    <tr>
      <th>Output</th>
      <th>Run time (s)</th>
      <th>Run cost ($)</th>
      <th>Date (EST)</th>
      <th>Status</th>
    </tr>
    {% for run in queryset %}
      <tr>
        <td><a href="{{run.get_absolute_url}}">{{run.get_absolute_url}}</a></td>
        <td>{{run.run_time}}</td>
        <td>{{run.effective_cost}}</td>
        <td>{{run.creation_date}}</td>
        <td class="sim-status">{{run.status}}</td>
      </tr>
    {% endfor %}
  </table>
{% endfor %}

<script>
  $(document).ready(function() {
    $(".sim-status").each(function() {
      node = $(this);
      if (node.text() == "SUCCESS") {
        node.addClass("text-success");
      } else if (node.text() == "PENDING") {
        node.addClass("text-warning");
      } else {
        node.addClass("text-danger");
      }
    });
  });
</script>