{% load utility %}

<!-- hide the checkbox; add a hidden input for the "False" scenario;
provide label users will click to toggle the CPI on and off -->
<input type="text"
  id="{{ checkbox.id_for_label }}"
  name="{{ checkbox.name }}"
  class="form-control model-param"
  style="display:none;"
  placeholder="{{checkbox.field.widget.attrs.placeholder}}"
  value="{% if checkbox.value %}{{checkbox.value}}{%else%}{% endif %}">
<label for="{{ checkbox.id_for_label }}"
  id="label-{{ checkbox.id_for_label }}"
  class="btn btn-checkbox {% if not checkbox|is_truthy %}fader{% endif %}">
    CPI
</label>

<!-- toggle fade on CPI buttons and mark as edited when clicked -->
<script>
$("#label-{{ checkbox.id_for_label }}").click(function(){
  $(this).toggleClass("fader");
  var checkbox = $("#{{ checkbox.id_for_label }}");
  if (checkbox.prop("value") == "" && checkbox.prop("placeholder") == "True"){
    checkbox.prop("value", "False");
  } else if (checkbox.prop("value") == "True") {
    checkbox.prop("value", "False");
  } else {
    checkbox.prop("value", "True");
  }
});
</script>