{% extends 'base.html' %}

{% load static %}
{% block title %}Sign Up{% endblock %}

{% block content %}
  <div class="card card-body card-outer">
  <h2 class="card-title">Sign up</h2>
  <form method="post" id="payment-form">
    {% csrf_token %}
    {% include 'includes/prettyform.html' with form=form %}
    <button type="submit" class="btn btn-success mt-4">Sign up</button>
  </form>
  </div>
{% endblock %}
