{% extends 'base.html' %}

{% block content %}

<div class="card card-body card-outer">
    <h1 class="card-title text-center">Your calculation failed. You may re-enter your parameters and try again.</h1>
    <p class="lead">COMP developers have already been notified about this failure. You are welcome to email me at <a href="mailto:henrymdoupe@gmail.com">henrymdoupe@gmail.com</a> if you would like to get in touch about this error.</p>
    {% include 'comp/diagnostic_collapse.html' %}
</div>

{% endblock %}
