{% extends 'base.html' %}

{% load static %}

{% load strings %}
{% load inputs %}
{% block content %}

<form class="inputs-form" id="inputs-form" method="post" action="{{app_url}}">
{% csrf_token %}
<input type="hidden" name="has_errors" value="{{ has_errors }}" />
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="jumbotron shadow" style="background-color:white;">
          <h1 class="display-5"><a class="primary-text" href="{{ app_url }}">{{ owner }}/{{ project_name }}</a> <a href="{{app_url}}detail/" class="btn btn-sm btn-outline-primary">publish details</a></h1>
          <p class="lead">{{app_oneliner}}</p>
          <hr class="my-4">
          <div>{{app_description}}</div>
          {% block project_context %}
          {% endblock %}
      </div>
    </div>
  </div>
  <!-- Sidebar -->
  <div class="row">
    <div class="col-4" id="section-col">
      <ul class="list-unstyled components sticky-top scroll-y">
        <li>
          <div class="card card-body card-outer">
            {% include 'comp/inputs/metaparameters.html' with form=form title="Meta Parameters" %}
            <button type="submit" name="reset" value="true" class="btn btn-block btn-outline-dark" style="margin:10px;margin-left:0px;">Reset</a>
          </div>
        </li>
        <li>
          <div class="card card-body card-outer">
            <!-- <ul class="list-unstyled components"> -->
              {% for section, params in default_form.items %}
              <div class="card card-body card-inner mb-1 mr-1">

                <div class="list-group">
                  <a class="list-group-item list-group-item-action mt-0" href="#{{ section.title }}" style="border:0px; padding:0rem; color:inherit;"><h3 style="color:inherit;">{{ section.title }}</h3></a>
                  {% for param in params %}
                    {% for key, value in param.items %}
                      <a class="list-group-item list-group-item-action" href="#{{ key|make_id }}" style="padding: .3rem 0rem; border:0px; color:inherit;"><p style="margin: 0px;font-size: 18px;">{{key}}</p></a>
                    {% endfor %}
                  {% endfor %}
                </div>
              </div>
              {% endfor %}
          </div>
        </li>
        <li>
          <div class="card card-body card-outer">
            <button type="button" class="btn btn-block btn-success" style="margin:10px;margin-left:0px;" data-toggle="modal" data-target="#submitModal">
              <b>Run {% if not provided_free %}({{ exp_cost }}){% endif %}</b>
            </button>
          </div>
        </li>
      </ul>
      <!-- Modal -->
      <div class="modal fade" id="submitModal" tabindex="-1" role="dialog" aria-labelledby="submitModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="submitModalLabel">
                {% if user_can_run %}
                  Are you sure that you want to run this simulation?
                {% else %}
                  {% if not user.is_authenticated %}
                    Sign up
                  {% else %}
                    Add a payment method
                  {% endif %}
                {% endif %}
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              {% if user_can_run %}
                {% if provided_free %}
                  This model's simulations are sponsored and thus, are free for you.
                {% else %}
                  This simulation will cost {{ exp_cost }}. You will be billed at the end of the monthly billing period.

                {% endif %}
              {% else %}
                {% if not user.is_authenticated %}
                  You must be logged in to run simulations.
                {% else %}
                  You must submit a payment method to run paid simulations.
                {% endif %}
              {% endif %}
              {% if not provided_free %}
              <div class="mt-3">
              {% include 'comp/pricing_collapse.html' with button_name="Pricing"%}
              </div>
              {% endif %}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
              {% if user_can_run %}
                <button type="submit" name="full_calc" value="true" class="btn btn-success">Run simulation</button>
              {% else %}
                {% if not user.is_authenticated %}
                  <a href="{% url 'login' %}" class="btn btn-secondary">Log in</a>
                  <a href="{% url 'signup' %}" class="btn btn-success">Sign up</a>
                {% else %}
                  <a href="{% url 'update_payment' %}" class="btn btn-success">Add payment method</a>
                {% endif %}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-8" id="inputs-col">
      <div id="content">
        <!-- <div class="container-fluid" style="min-width: 50rem; max-width: 50rem;"> -->
          <div class="inputs-main">
            {% if form.non_field_errors %}
            <div class="card card-body card-outer">
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger text-center lert-dismissible" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  {{ error }}
                </div>
            {% endfor %}
            </div>
            {% endif %}
            {% for section, params in default_form.items %}
              <div class="card card-body card-outer">
                {% include 'comp/inputs/major_section.html' with title=section.title params=params %}
              </div>
            {% endfor %}
          </div>
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>
</form>
<script src="{% static 'js/core.js' %}"></script>
<script>
  mobilecheck = function() {
    var check = false;
    (function(a){if(/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|iris|kindle|lge |maemo|midp|mmp|mobile.+firefox|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows ce|xda|xiino/i.test(a)||/1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i.test(a.substr(0,4))) check = true;})(navigator.userAgent||navigator.vendor||window.opera);
    return check;
  };
  $(document).ready(function() {
    if (mobilecheck()) {
      $("#inputs-col").removeClass("col-8").addClass("col-7");
      $("#section-col").removeClass("col-4").addClass("col-5");
      alert("Our mobile site is a work in progress. You may have a better experience if you use a landscape view for this page.");
    }
  });
</script>
{% endblock %}
