{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="card card-body card-outer">
  <h1 class="card-title text-center">Please wait while calculations are running.</h1>
  <div class="progress mt-5" style="height:1.8rem;">
    <div class="progress-bar progress-bar-striped progress-bar-animated" style="background-color:#2b2c2d" role="progressbar" style="width: 0%" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <h4 class="text-center mt-5">Estimated time remaining: <span id="eta"></span></h4>
</div>

{% endblock %}

{% block bottom_scripts %}
<script type="text/javascript" src="{% static 'js/vendor/moment/moment.min.js' %}"></script>
<script type="text/javascript">
$(document).ready(function() {
    function insertEta(eta, origEta) {
        console.log(origEta, eta, (1 - (eta / origEta)) * 100 + '%');
        if (eta == 0 || origEta == 0) {
          var width = "100%";
        } else {
          var width = (1 - (eta / origEta)) * 100 + '%';
        }
        $('.progress-bar').css('width', width);
        $('#eta').text(moment.duration(eta, 'minutes').humanize());
    }

    function ajaxEta() {
        $.ajax(window.location.href, {
            type: 'post',
            data: { csrfmiddlewaretoken: '{{ csrf_token }}'},
            success: function(data, textStatus, xhr) {
                if (xhr.status === 202) {
                    insertEta(data.eta, data.origEta);
                } else if (xhr.status === 200) {
                    insertEta(data.eta, data.origEta);
                    setTimeout(function() {
                        window.location.reload(1);
                    }, 3000)
                }
            }
        });
    }
    ajaxEta();
    setInterval(ajaxEta, 1000);
});
</script>
{% endblock %}
