
/* text */

body {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
}


.explainer {
  color: #212121;
}

.main-content {
  background: rgb(238, 238, 238);
}

div.card.publish.markdown {
  background-color: rgba(27, 31, 35, 0.05);
  padding: 0.8rem;
}

code {
  color: inherit;
  display:block;
}

/* login */
.login-status {
  color:white;
}

.login-status a{
  color:white;
}

.login-status a:hover{
  color:#ffffff;
  text-decoration: none;
}

/* navbar */
.navbar-custom {
  background-color: #2b2c2d;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: #ffffff;
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
  color: #ffffff;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  color: #ffffff;
}

/* buttons with navbar color scheme */

.btn-match-nav, .nav-pills .nav-link.active {
  background-color: #212121 !important;
  color: #e5e5e5 !important;
}

.inverse-btn-match-nav, .nav-pills .nav-link {
  color: #212121 !important;
  background-color: #e5e5e5 !important;
}

.divider{
  width:5px;
  height:auto;
  display:inline-block;
}

/* used for the profile page--should probably be a the inverse-button-match-nav */
.btn-comp {
  background-color:#cccc !important;
}


/* format blocks of text */
.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

/* input form/output page formatting */

#sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 0;
}

/* add tent to input boxes */
input.model:not(:placeholder-shown) {
  background-color:  #e5e5e5!important;
}

/* drop margin-bottom on form group. */
.form-group {
  margin-bottom:0rem;
}

/* fade auxillary button on toggle */
.fader {
  background-color: rgb(231, 241, 252) !important;
  color: rgba(10, 102, 194, 1) !important;
}

.card-inner {
  box-shadow: 0 1px 1px white;
  border:0px;
}

.card-outer {
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}

/* remove asterisk on crispy-form-fields */
.asteriskField {
  display: none;
}

.input-tooltip:hover {
  opacity: 0.5;
}

/* dimmer version of the bootstrap glow */
input.edited {
  background-color: rgba(102, 175, 233, 0.2);;
}

span.default-value.hide-default {
  visibility: hidden;
}

span.default-value {
  color: #869191;
}


/* thicken hr-4 input divider */
.input-divider {
  border-top: 3px solid #e5e5e5;
}

.profile-tab-content {
  padding: 25px;
}

.error {
  font-size: 80%;
  color: #dc3545
}

.description {
  width: "50rem"
}


.btn-checkbox {
  padding: .25rem .5rem;
  font-size: .68rem;
  line-height: 0.9;
  border-radius: .2rem;
  background-color: rgba(10, 102, 194, 1);

  color: rgb(231, 241, 252);
  /* font-size: 11px; */
  font-weight: 700;
}

.w-50rem {
  width: 50rem;
}

.scroll-y {
  overflow-y: auto;
  height: 100vh;
}
