{% load strings %}

<fieldset id="{{ title|make_id }}" class="inputs-block">
  <div class="card card-body card-outer mb-3 shadow-sm" style="padding:1rem;">
  <h1>
    {{ title }}
    <div class="float-right">
      <button
        class="btn collapse-button"
        type="button"
        data-toggle="collapse"
        data-target="#{{ title|make_id }}-collapse"
        aria-expanded="false"
        aria-controls="{{ title|make_id }}-collapse"
        style="margin-left:20px;">
        <i class="far fa-minus-square" style="size:5x;" ></i>
      </button>
    </div>
  </h1>
  <div class="mb-3"/>
  <div class="collapse show collapse-plus-minus" id="{{ title|make_id }}-collapse">
    <div class="card card-body card-inner" style="padding:0rem;">
    {% for field in param %}
      {% for name, param_object in field.items %}
        {% if param_object.name %}
          <h3>{{ param_object.name }}</h3>
          {% include 'comp/inputs/param.html' with param=param_object %}
        {% else %}
          <h3>{{ name }}</h3>
          {% for x in param_object %}
            {% for y, z in x.items %}
              {% include 'comp/inputs/param.html' with param=z%}
            {% endfor %}
          {% endfor %}
        {% endif %}
      {% endfor %}
    {% endfor %}
    </div>
  </div>
  {% block section_warnings %}{% endblock %}
  </div>
</fieldset>
