{% load strings %}
{% load inputs %}


<fieldset id="{{ title|make_id }}" class="inputs-block">
      <h1 style="font-size:2.9rem;">
        {{ title }}
        <div class="float-right">
          <button
            class="btn collapse-button"
            type="button"
            data-toggle="collapse"
            data-target="#{{ title|make_id }}-collapse-major"
            aria-expanded="false"
            aria-controls="{{ title|make_id }}-collapse-major"
            style="margin-left:20px;">
            <i class="far fa-minus-square" style="size:5x;" ></i>
          </button>
        </div>
      </h1>
      <hr class="mb-3" style="border-top:0">
      <div class="collapse show collapse-plus-minus" id="{{ title|make_id }}-collapse-major">
        <div class="card card-body card-inner" style="padding:0rem;">
          {% for param in params %}
            {% for key, value in param.items %}
              {% if key != "ubi" %}
                {% if params|is_first:param %}
                  {% include 'comp/inputs/default_input.html' with title=key param=value is_first=True %}
                {% else %}
                  {% include 'comp/inputs/default_input.html' with title=key param=value is_first=False %}
                {% endif %}
              {% endif %}
            {% endfor %}
          {% endfor %}
        </div>
      </div>
      {% block section_warnings %}{% endblock %}
</fieldset>
