{% load inputs %}
{% load utility %}

<div class="container" style="padding: left 0;">
  <div class="row has-statuses">

    <div class="col-xs-12">
      <label>
        {{ param.title }}
        {% include 'comp/inputs/fields/tooltip.html' with text=param.info %}

      <!-- TODO: add auxillary block for optional checkbox parameter. -->
      {% if param.inflatable %}
        {% with form|dict_get:param.cpi_field.name as cpi_field %}
          {% include 'comp/inputs/fields/checkbox.html' with checkbox=cpi_field %}
        {% endwith %}
      {% endif %}
      </label>
    </div>
  </div>
  <div class="form-row has-statuses" style="margin-left: -20px;">
    {% for field in param.col_fields %}
      <div class="{{ param|col_input_class }}">
        {% include 'comp/inputs/fields/field.html' with field=field %}
      </div>
    {% endfor %}
  </div>
</div>