{% extends 'base.html' %}
{% load static %}

{% block scripts %}
{% endblock %}

{% block content %}
<div class="container">
<div class="card card-body card-outer">
<div id="publish-container" class="container publish" style="width:55rem">
</div>
</div>
</div>
<script src="{% static 'js/main.js' %}"></script>
{% endblock %}
