{% extends 'base.html' %}
{% load static %}
{% block style %}
{% load results %}
{{block.super}}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.2/css/responsive.bootstrap.min.css">
<style>
  .btn {
    color: black;
  }
  .text-white {
    color: white;
  }
  /* table css */
  table.table-bordered{
    border:1px solid #212121;
    margin-top:20px;
  }
  table.table-bordered > thead > tr > th{
      border:1px solid #212121;
  }
  table.table-bordered > tbody > tr > td{
      border:1px solid #212121;
  }
  table.table-bordered > tbody > tr > th{
      border:1px solid #212121;
  }

  .single-line {
    white-space: nowrap;
  }
  .file-contents{
      font-family: "Courier New", Courier, monospace;
      font-weight: bold;
      margin-left: 80px;
      margin-right: 80px;
      margin-top: 40px;
      margin-bottom: 40px;
      text-align: left;
  }
  .output, .aggr-output {
    display: none;
  }
  .output.selected-table-dimension.selected-table-tag, .aggr-output.selected-aggr-table-tag {
    display: block;
  }
  .container > .row {
    padding: 10px 0;
  }
  .output h1 {
    text-transform: uppercase;
  }
  #table-select-container .nav-pills li {
    padding-top: 5px;
  }
  .dt-btn-wrapper {
    text-align: center;
  }
</style>
{% endblock %}
{% block content %}
  <br>
  <div id="table-drilldown-container">
    <div>
        <div class="jumbotron shadow" style="background-color:white;">
          <h1 class="card-title">{{result_header}}</h1>
          <div class="row">
            {% if object.outputs.aggr_outputs %}
            <div class="col-md-12" id="aggr-totals-container">
              <div class="card card-body card-inner">
                {% include "comp/select_tags.html" with tags=tags.aggr_tags only %}
                {% for x in object.outputs.aggr_outputs %}
                <div class="aggr-output"
                      {% for key, value in x.tags.items %}
                        data-tag-{{ key }}="{{ value }}"
                      {% endfor %}>
                  <h1 class="text-center">{{ x.title }}</h1>
                  <div class="table-responsive">
                  {{ x.renderable | safe }}
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
            {% endif %}
          </div>
          <div class="card card-body card-inner">
              <div style="padding:.1rem">
                <button
                  class="btn collapse-button inverse-btn-match-nav w-50 mx-auto"
                  type="button"
                  data-toggle="collapse"
                  data-target="#results-collapse"
                  aria-expanded="true"
                  aria-controls="results-collapse"
                  style="display:block;padding:10px;">
                  View inputs
                </button>
                <div class="collapse" id="results-collapse">
                  <div class="card card-body card-inner">
                      <ul>
                      <li>
                        <ul class="list-unstyled">
                        <li><p><i> Inputs for section: </i> <code>meta-parameters</code></p></li>
                        <li><pre><code class="block">{{object.inputs.pretty_meta_parameters}}</code></li></pre>
                        </ul>
                      </li>
                      {% for sect, jsonobj in object.inputs.inputs_file.items %}
                        <li>
                        <ul class="list-unstyled">
                        <li><p><i> Inputs for section: </i> <code>{{sect}}</code></p></li>
                        <li><pre><code class="block">{{jsonobj}}</code></li></pre>
                        </ul>
                        </li>
                      {% endfor %}
                      <ul>
                  </div>
                </div>
              </div>
              <div style="padding:.1rem;">
                <a href="{{ object.get_absolute_edit_url }}" class="btn inverse-btn-match-nav w-50 mx-auto" style="display:block;padding:10px;">Edit inputs</a>
              </div>
              <div style="padding:.1rem;">
                <a href="{{ object.get_absolute_download_url }}" class="btn inverse-btn-match-nav w-50 mx-auto" style="display:block;padding:10px;">Download results</a>
              </div>
          </div>
      </div>
        <div class="card card-body card-outer">
        <div class="row">
          {% if object.outputs.outputs %}
          <div class="col-md-8 col-md-push-2" id="table-select-container">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Build Table</h3>
              </div>
              <div class="card-body">
                <div class="row" {% if not tags.dimension %} hidden {% endif %}>
                  <div class="col-md-6">
                    <h1 class="text-center">{{tags.dimension}}: </h1>
                  </div>
                  <div class="col-md-6">
                    <h1 class="text-center">
                      <div class="dropdown dropdown-select dropdown-inline data-switch">
                        <a class="dropdown-toggle" id="selected-dimension" type="button" data-toggle="dropdown" aria-expanded="true">
                          {{ object.dimension.0 }}
                          <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" id="dimension-selector" role="menu" aria-labelledby="dimension">
                          {% for dim in object.dimension %}
                          <li role="presentation">
                            <a class="dropdown-item" role="menuitem" tabindex="-1" href="#" data-dimension="{{ dim }}">
                            {{ dim }}
                            </a>
                          </li>
                          {% endfor %}
                        </ul>
                      </div>
                    </h1>
                  </div>
                </div>
                {% include "comp/select_tags.html" with tags=tags.tags only %}
              </div>
            </div>
          </div>
        {% endif %}
        </div>
        <div class="row">
          {% if object.outputs.outputs %}
          <div class="col-md-12" id="table-container">
            <div class="card">
                <div class="card-body" style="overflow: scroll">
                  {% for x in object.outputs.outputs %}
                  <div class="output"
                       data-dimension="{{ x.dimension }}"
                       {% for key, value in x.tags.items %}
                         data-tag-{{ key }}="{{ value }}"
                       {% endfor %}>
                    <h1 class="text-center">{{ x.title }}</h1>
                    <div class="table-responsive">
                    {{ x.renderable | safe }}
                    </div>
                  </div>
                  {% endfor %}
                </div>
            </div>
          </div>
        {% endif %}
        </div>
      </div>
        <div class="card card-body card-outer">
          <div style="padding:.1rem;">
            <a href="{{ object.get_absolute_download_url }}" class="btn btn-lg btn-match-nav w-50 mx-auto" style="display:block; margin:0.5rem;">Download Results</a>
          </div>
          <div style="padding:.1rem;">
            <a href="{{ object.get_absolute_download_url }}?raw_json=True" class="btn btn-sm inverse-btn-match-nav w-50 mx-auto" style="display:block;margin:0.5rem;">Download raw JSON</a>
          </div>
        </div>
    </div>
  </div>
  <!-- <a class="btn btn-block btn-match-nav"
    type="submit"
    name="reset"
    value="true"
    style="margin:10px;margin-left:0px;">Reset default parameters
  </a> -->

{% endblock %}

{% block bottom_scripts %}
{{ block.super }}
<script type="text/javascript" src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.colVis.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.2/js/dataTables.responsive.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.2/js/responsive.bootstrap.min.js"></script>
<script src="{% static 'js/core.js' %}"></script>
<script>


var initDataTable = function (el) {
  var dt = el;
  dt.parent().find("div.dt-buttons.btn-group")
    .wrap("<div class='dt-btn-wrapper'></div>");
};

var initVisibleTable = function (containerSelector) {
  /* We only expect one table to be visible at once, i.e. if the right dimension
     is selected, and the right tag is selected */
  var table_to_show = $(containerSelector + " table:visible");
  /* Make sure we don't initialize the DataTable twice */
  if ( ! $.fn.DataTable.isDataTable(table_to_show) ) {
    initDataTable(table_to_show);
  }
};

var initVisibleYearTable = function () {
  initVisibleTable('#table-container');
};


var initVisibleAggrTable = function () {
  initVisibleTable('#aggr-totals-container');
};

var activateYearTablesBySelectedYear = function () {
  var containers_to_show = $('.output[data-dimension="' + $("#selected-dimension").text().trim() + '"]');
  containers_to_show.addClass('selected-table-dimension');
  $('.output').not(containers_to_show).removeClass('selected-table-dimension');
};

var activateTablesBySelectedTags = function (args) {
  /* Get the current set of tags */
  var tags_to_match = {};
  //edit: added a selector
  $(args.selectorContainerSelector + ' .tag-selector:visible li a.active').parent('li').each(function (_index, el) {
    $.each(el.attributes, function (_index, attr) {
      if (attr.name.startsWith('data-tag-')) {
        tags_to_match[attr.name] = attr.value;
      }
    })
  });
  /* Find the tables matching that set of tags */
  var selector = '.' + args.outputClass;
  $.each(tags_to_match, function (key, value) {
    selector += '[' + key + '="' + value + '"]'
  });
  var containers_to_show = $(selector);

  /* Label these tables as selected (subject to a dimension selection) and
     unlabel the rest, then initialize visible tables */
  containers_to_show.addClass(args.selectedTableTagClass);
  $('.' + args.outputClass).not(containers_to_show).removeClass(args.selectedTableTagClass);
};

var activateYearTablesBySelectedTags = function () {
  activateTablesBySelectedTags({
    "selectorContainerSelector": "#table-select-container",
    "outputClass": "output",
    "selectedTableTagClass": "selected-table-tag"
  });
};

var activateAggrTablesBySelectedTags = function () {
  activateTablesBySelectedTags({
    "selectorContainerSelector": "#aggr-totals-container",
    "outputClass": "aggr-output",
    "selectedTableTagClass": "selected-aggr-table-tag"
  });
};

$(document).ready(function () {
  $('table').addClass('table').addClass('table-bordered').addClass('table-hover');
  activateAggrTablesBySelectedTags();
  initVisibleAggrTable();
  activateYearTablesBySelectedTags();
  activateYearTablesBySelectedYear();
  initVisibleYearTable();
  // Select behavior for dropdowns
  $(".dropdown-select .dropdown-menu li a").click(function(){
    selection = $(this);
    dropdown_label = $(this).parents('.dropdown-select').find('.dropdown-toggle')
    dropdown_label.html(selection.text() + ' <span class="caret"></span>');
  });

  $("#dimension-selector li a").click(function (e) {
    e.preventDefault();
    activateYearTablesBySelectedYear();
    initVisibleTable();
  });

  $(".tag-selector li a").click(function (e) {
    /* Toggle the visible selection */
    e.preventDefault();
    var target_li = $(e.target).parent('li');
    var target_a = $(e.target)
    target_a.addClass('active');
    var parent_container = target_li.parents('.tag-selector-container');
    var unselected = target_li.parent('.nav').find('li').not(target_li);
    unselected.find('a').removeClass("active");
    /* Deactivate keys */
    unselected.each(function (_index, el) {
      var children_keys = $(el).attr('data-children-keys').trim().split(" ");
      $.each(children_keys, function (index, key) {
          parent_container.find(".tag-" + key).css('display', 'none');
        });
    });

    /* Activate tags */
    var children_keys = target_li.attr('data-children-keys').trim().split(" ");
    $.each(children_keys, function (index, key) {
      parent_container.find(".tag-" + key).css('display', 'block');
    });

    activateYearTablesBySelectedTags();
    initVisibleYearTable();
    activateAggrTablesBySelectedTags();
    initVisibleAggrTable();
  });
});
</script>

{% endblock %}
