<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
 <title>COMP Models</title>
 <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
 <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
 <link rel="stylesheet" href="{% static 'css/compbase.css' %}">
 <link rel="stylesheet" href="{% static 'css/stripe.css' %}">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 {% block style %}
 {% endblock %}
 {% block scripts %}
 {% endblock %}
</head>

<body class="main-content">
  <nav class="navbar navbar-custom navbar-expand shadow">
      <a href="{% url 'home' %}" class="navbar-brand">COMP</a>
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Models
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <!-- Add new projects to the dropdown menu here! -->
            {% for owner, project, url in project_list %}
              <a class="dropdown-item" href="{{url}}">{{owner}}/{{project}}</a>
            {% endfor %}
          </div>
        </li>
        <li class="nav-item"><a href="{% url 'publish' %}" class="nav-link">Publish</a></li>
        {% if user.is_authenticated %}
          <li class="nav-item"><a href="{% url 'about' %}" class="nav-link">About</a></li>
        {% endif %}
      </ul>
      <ul class="navbar-nav ml-auto">
        <div class="login-status ml-auto" >
          {% if user.is_authenticated %}
            <a href="{% url 'home' %}">{{ user.username }}</a> |
            <a href="{% url 'logout' %}">logout</a>
          {% else %}
            <a href="{% url 'login' %}">login</a> |
            <a href="{% url 'signup' %}">signup</a>
          {% endif %}
        </div>
      </ul>
  </nav>

  <div class="container-fluid mt-4" style="max-width:1400px;">
    {% block content %}
    {% endblock %}
  </div>


{% block bottom_scripts %}
{% endblock %}
</body>
{% block below_body %}
{% endblock %}
</html>
